name:  Deploy website on push

on:
  push:
    branches:
      - main    # Ejecutar el pipeline en la rama main
      - staging # Ejecutar el pipeline en la rama staging

jobs:
  web-deploy:
    name:  Deploy to FTP
    runs-on: ubuntu-latest  # Se ejecuta en Ubuntu

    steps:
    - name:  Get latest code
      uses: actions/checkout@v4  # Acci贸n para obtener el c贸digo m谩s reciente del repositorio

    - name:  Sync files to Hostinger FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5  # Acci贸n de despliegue por FTP
      with:
        server: ftp.devcode.com.ar  # Direcci贸n de tu servidor FTP
        username: ${{ secrets.FTP_USERNAME }}  # Nombre de usuario FTP almacenado en secretos
        password: ${{ secrets.FTP_PASSWORD }}  # Contrase帽a FTP almacenada en secretos
        server-dir: |
          ${{ github.ref_name == 'main' && '/public_html/projectci/' || '/public_html/staging/' }}
        local-dir: "./"  # Subir todo el contenido del repositorio al servidor









   


 



    
    

       


     


