name: 游 Deploy website on push

on:
  push:
    branches:
      - main  # Cambia esta l칤nea a la rama que prefieras

jobs:
  web-deploy:
    name: 游꿀 Deploy
    runs-on: ubuntu-latest  # Se ejecuta en Ubuntu

    steps:
    - name: 游뚴 Get latest code
      uses: actions/checkout@v4  # Acci칩n que obtiene el c칩digo m치s reciente

    - name: 游늭 Sync files to Hostinger FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5  # Acci칩n de despliegue por FTP
      with:
        server: FTP_SERVER # Reemplaza con la URL de tu servidor FTP en Hostinger
        username: FTP_USERNAME # Nombre de usuario FTP almacenado en secretos
        password: FTP_PASSWORD # Contrase침a FTP almacenada en secretos
        server-dir: "/public_html/projectci/"  # Ruta de destino en el servidor
        local-dir: "./"  # Subir치 todo el contenido del repositorio al servidor














   


 



    
    

       


     


