name: 游 Deploy website on push

on:
  push:
    branches:
      - main    # Ejecutar el pipeline en la rama main
      - staging # Ejecutar el pipeline en la rama staging

jobs:
  web-deploy:
    name: 游꿀 Deploy to FTP
    runs-on: ubuntu-latest  # Se ejecuta en Ubuntu

    steps:
    - name: 游뚴 Get latest code
      uses: actions/checkout@v4  # Obtiene el c칩digo m치s reciente del repositorio

    - name: 游늭 Sync files to Hostinger FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5  # Acci칩n de despliegue por FTP
      with:
        server: ftp.devcode.com.ar  # Direcci칩n de tu servidor FTP
        username: ${{ secrets.FTP_USERNAME }}  # Usuario FTP almacenado en secretos
        password: ${{ secrets.FTP_PASSWORD }}  # Contrase침a FTP almacenada en secretos
        server-dir: |
          ${{ github.ref_name == 'main' && '/public_html/projectci/' || '/public_html/staging/' }}
        local-dir: "./"  # Subir todos los archivos desde la ra칤z del repositorio
        dangerous-clean-slate: true  # Borra todos los archivos existentes en el servidor antes de subir los nuevos










   


 



    
    

       


     


