name:  Deploy website on push

on:
  push:
    branches:
      - main  # Cambia esta l铆nea a la rama que prefieras

jobs:
  web-deploy:
    name:  Deploy
    runs-on: ubuntu-latest  # Se ejecuta en Ubuntu

    steps:
    - name:  Get latest code
      uses: actions/checkout@v4  # Acci贸n que obtiene el c贸digo m谩s reciente

    - name:  Sync files to Hostinger FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5  # Acci贸n de despliegue por FTP
      with:
        server: ftp.devcode.com.ar  # Direcci贸n de tu servidor FTP en Hostinger
        username: ${{ secrets.FTP_USERNAME }}  # Nombre de usuario FTP almacenado en secretos
        password: ${{ secrets.FTP_PASSWORD }}  # Contrase帽a FTP almacenada en secretos
        server-dir: "/public_html/projectci/"  # Ruta de destino en el servidor
        local-dir: "./"  # Subir谩 todo el contenido del repositorio al servidor














   


 



    
    

       


     


